.header {
	max-width: 100%;
	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 10vh;
	}
}
.container {
}
.nav {
	display: flex;
	justify-content: space-between;
	width: 100%;
	max-width: 100%;
	& .inner-nav {
		display: flex;
	}
	
	&__items {
		display: flex;
	}
	
	&__item {
	}
	
	&__link {
		line-height: 20.5px;
		padding: 1rem;
		
		&:hover {
			background-color: #000;
			color: #fff;
		}
	}


}
.logo {
	width: 265px;
	display: flex;
	margin-right: 3rem;
	
	&__image {
		
	}
}
.shop-nav {
	&__items {
	}
}

.user-nav, .search-nav {
	&__items {

		li:first-child {
			position: relative;
			&:hover:after {
				width: 0px;
			}
			&:after {
				content: "";
				position: absolute;
				width: 1px;
				height: 21px;
				background-color: #000;
				right: -1px;
				top: 0;

			}
		}
	}
}
.burger {
	display: none;
}

@media screen and (max-width: 992px) {
	.nav {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: 75vw;
		background-color: #fff;
		flex-direction: column;
		justify-content: center;
		transform: translateX(-120%);
		transition: transform 0.8s ease 0s;
		
		&--active {
			transform: translateX(0);
			z-index: 999;
		}


		&__items {
			display: flex;
			flex-direction: column;
			margin-bottom: 1.5rem;
		}

		&__item {
			padding: 1rem 2rem;
			font-size: 1.2rem;
		}

		&__link	{

			display: block;
			// max-width: 100%;
		}
	}
	.burger {
		display: block;
	}
	.inner-nav {
		flex-direction: column;
	}
}
