.header {
	&__inner {
	}
}
.container {
}
.nav {
	display: flex;

	&__items {
	}

	&__item {
	}

	&__link {
	}
}
.logo {
	width: 265px;
	display: block;
	
	&__image {
		
	}
}
.shop-nav {
	&__items {
	}
}
.search-nav {
	&__items {
	}
}
.user-nav {
	&__items {
	}
}
.burger {
}
