.products {

	&__inner {
	}

	&__items {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-gap: 20px;
	}

	&__item {
	}
}
.container {
}
.products-list {

	&__items {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 1rem 0;
	}
	
	&__item {
		// padding: 0 24px;
		margin: 24px;
		font-size: 17px;
		line-height: 27px;
		color: #B3B3B3;
		cursor: pointer;

		&--active {
			position: relative;
			color: #1A1A1A;

			&::after {
				content: "";
				position: absolute;
				bottom: -5px;
				left: -5px;
				width: 110%;
				height: 1px;
				background-color: #1A1A1A;
			}
		}
	}
}
.product-card {

	&__image-box {
	}

	&__image {
	}

	&__title {
		color: #1A1A1A;
		font-size: 15px;
		line-height: 18px;
		margin-top: 11px;
	}

	&__description {
		color: #A8A8A8;
	}
}
.produc-card {

	&__price {
		font-size: 13px;
		line-height: 13px;
		margin-top: 6px;
	}
}

.old-price {

	color: #808080;
}
.new-price {
	color: #FF3451;
}

.btn {
	display: block;
	font-size: 20px;
	padding: 25px 60px;
	border: none;
	background-color: #1a1a1a;
	color: 	#f7f7f7;
	margin: 66px auto 133px;
	cursor: pointer;
}